<div class="user-reservations-container">
    <br>
    <h1>Your Bookings: </h1>
    <br>
    <button (click)="showFullReservations()" *ngIf="currentReservations">Show current and outdated</button>
    <button (click)="showCurrentReservations()" *ngIf="!currentReservations">Show only current</button>
    <br>
    <br>
    <div *ngIf="onEditArrivalTime">
        <input type="time" [(ngModel)]="reservation.arrivalTime">
        <br>
        <br>
        <button (click)="updateReservation()">Save</button>
        <button (click)="closeEdit()">Cancel</button>
        <br>
        <br>
    </div>
    <h2 *ngIf="checkReservations()"> No bookings were found!</h2>
    <table class="reservations-table" *ngIf="!checkReservations()" class="table table-striped" cellspacing="0">
        <thead>
            <tr>
                <th>Hotel</th>
                <th>Room</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Arrival date</th>
                <th>Departure date</th>
                <th>Services</th>
                <th>Change arrival time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.hotelName}}</td>
                <td>{{reservation.roomNumber}}</td>
                <td>{{reservation.arrivalTime}}</td>
                <td>{{reservation.departureTime}}</td>
                <td>{{reservation.startDate | date}}</td>
                <td>{{reservation.endDate | date}}</td>
                <td>
                    <ul>
                        <li *ngFor="let service of reservation.reservationServices">{{service.name}}</li>
                    </ul>
                </td>
                <td>
                    <button *ngIf="!checkDates(reservation.startDate)" (click)="openEdit(reservation)">Change time</button>
                    <p *ngIf="checkDates(reservation.startDate)">Booking has already ended</p>
                </td>
            </tr>
        </tbody>
    </table> 
</div>
