<div class="reservation-container">
	<h1>Your reservation:</h1>
	<p>Reservation start date: {{reservation.startDate | date}}</p>
	<p>Reservation end date: {{reservation.endDate | date}}</p>
	<p>Arrival time: {{reservation.arrivalTime}}</p>
	<p>Departure time: {{reservation.departureTime}}</p>
	<h3>Additional services:</h3>
	<ul *ngFor="let service of reservation.reservationServices, let i = index">
		<li>
			<label>{{service.name}} : {{service.cost}}$</label>
		</li>
	</ul>
	<p>Summary: {{getSummary()}}</p>
	<button (click)="test()">Confirm reservation</button>
</div>
