@customBlue:  rgb(0, 140, 255);
@customDarkBlue: #003580;
@customLightBlue: rgb(176, 218, 255);

header {
    background: @customDarkBlue;
    color: white;
    overflow: hidden;
    font-family: Helvetica,Arial,sans-serif;
    
    .header-text {
        padding: 30px 100px;

        h2 {
            display: inline-block;
            margin: 0;
            text-shadow: 1px 1px black;
        }
    
        .beginning {
            color: yellow;
            display: inline;
        }
    
        .ending {
            color: white; 
            display: inline;
        }

        a {
            float: right;
            text-decoration: none;
            font-size: 15pt;
            font-weight: bold;
            color: white;
            cursor: pointer;

            &:hover{
                color: yellow;
            }
        }

    } 

    nav {
        overflow: hidden;

        ul.menu {
            margin: 0 0 2px 0;
            padding: 0 100px;
    
            li {
                display: inline-block;
                font-weight: bold;
                font-size: 15pt;
                border-radius: 3px;
                cursor: pointer;
                height: 26px;
    
                a {
                    padding: 0px 10px;
                    background: @customDarkBlue;
                    text-decoration: none;
                    color: white;
                    border-radius: 3px;
                    height: 26px;

                    &:hover {
                        color: @customDarkBlue;
                        background: white;
                    }
                }

                p {
                    margin: 0;
                    padding: 0 10px;
                    text-decoration: none;
                }
                
                &:hover {
                    color: @customDarkBlue;
                    background: white;

                    a {   
                        color: @customDarkBlue;
                        background: white;
                    }
                }
            }
        }
    }   
}

body {
    margin: 0;
}

.hotels-container {
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;

    .hotels-input {

        input {
            border: 1px solid @customDarkBlue;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px @customDarkBlue;
            font-size: 20px;
            line-height: 1.42857143;
            margin: 0 10px;

            &:focus {
                border-color: yellow;
                outline-width: 0;
            }
        }
    }
}

button {
    background: white;
    border: 2px solid @customDarkBlue;
    color: @customDarkBlue;
    border-radius: 5px;
    height: 26px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: @customDarkBlue;
    }

    &:disabled {
        color: @customLightBlue;
        border-color: @customLightBlue;
        cursor: default;

        &:hover {
            color: @customLightBlue;
            border-color: @customLightBlue;
            background-color: white;
        }
    }
}

ul {
    list-style-type:none;
}

.hotel-detailed-container {
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
}

.room-container {
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
}

.reservation-container {
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
}

.authentication-container {
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
}

.user-reservations-container {
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    align-content: center;

    table {
        text-align: center;
        padding: 10px;
        width: 80%;
        border: 2px solid @customDarkBlue;
        margin-left: 10%;
        border-radius: 5px;

        tbody {
            margin-top: 20px;
        }
        
        td {
            border-bottom: 1px solid @customDarkBlue;
        }


        ul {
            padding-left: 0;
            
            li {
                padding-bottom: 5px;
            }
        }

        button {
            font-size: 15px;
        }
    }

}

input.form-control {
    width: 20%;
    margin-left: 40%;
}

.items-list {
    margin: 0 10%;
    overflow: hidden;

    .item-container {
        width: 23%;
        float: left;
        margin: 1%;

        .item {
            position: relative;
            height: 220px;
            color: white;
            transition: all 1s;

            .header {
                position: absolute;
                z-index: 100;
                width: 100%;
                text-align: left;

                h1, h2 {
                    margin-left: 2%;
                    margin-top: 2%;
                    margin-bottom: 0;
                    text-shadow:
                        1px 1px black,
                        2px 2px #777;
                }

            }

            .blur {
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 99;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                transition: all 1s;
                border-radius: 7px;
            }

            .detail {
                background-color: white;
                color: black;
                position: absolute;
                display: block;
                width: 100%;
                height: 20%;  
                z-index: 101;
                border-radius: 5px;
                text-align: left;  
                bottom: 0;

                p {
                    padding: 5px 0 0 10px;
                    font-weight: bold;
                    font-size: small;
                    margin: 0;
                }
            }

            &:hover {
                cursor: pointer;

                .blur {
                    filter: blur(1px);
                }
            }
        }
    }
}



