<div class="add-form">
    <ul>
        <li>
            <h2>Add new reservation</h2>
        </li>
        <li> 
            <label>User id:</label>   
            <input class="add-input" type="text" [(ngModel)]="reservation.userId"/>  
        </li>
        <li> 
            <label>Room id</label> 
            <input class="add-input" type="text" [(ngModel)]="reservation.roomId"/>
        </li>
        <li> 
            <label>Start date:</label>   
            <input type="date" [(ngModel)]="reservation.startDate"/>
        <li>
            <label>End date:</label>
            <input type="date" [(ngModel)]="reservation.endDate"/>
        </li>
        <li>
            <label>Arrival time:</label>
            <input type="time" [(ngModel)]="reservation.arrivalTime"/>
        </li> 
        <li> 
            <label>Parking</label>
            <input class="date-pick" type="checkbox" [(ngModel)]="reservation.parking"/>    
        </li> 
        <li> 
            <label>Massage</label>
            <input type="checkbox" [(ngModel)]="reservation.massage"/>     
        </li>  
        <li> 
            <label>Extra Towels</label>
            <input type="checkbox" [(ngModel)]="reservation.extraTowels"/>     
        </li> 
        <li>
            <button class="add-button" (click)="addReservation()">Add reservation</button>
        </li>
    </ul>   
</div>
<div class="page-header">
    <h1>Reservations list</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr> 
                <th>Id</th>
                <th>User Id</th>
                <th>Room Id</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Arrival time</th>
                <th>Parking</th>
                <th>Massage</th>
                <th>Extra towels</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.id}}</td>
                <td>{{reservation.userId}}</td>
                <td>{{reservation.roomId}}</td>
                <td>{{reservation.startDate | date}}</td>
                <td>{{reservation.endDate | date}}</td>
                <td>{{reservation.arrivalTime | timeFormatPipe}}</td>
                <td><input type="checkbox" [(ngModel)]="reservation.parking" disabled /></td>
                <td><input type="checkbox" [(ngModel)]="reservation.massage" disabled /></td>
                <td><input type="checkbox" [(ngModel)]="reservation.extraTowels" disabled /></td>
                <td><button class="del-button" (click)="deleteReservation(reservation.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
