<ng-template #userTemplate let-model="item">
    <h5>{{model.name}} {{model.surname}}, Login: {{model.login}}</h5>
</ng-template>

<div class="add-form" *ngIf="editFormOn">
    <ul>
        <li>
            <h2>Add new reservation</h2>
        </li>
        <li *ngIf="this.isRoom()">
            <label>User: </label>
            <input type="text" placeholder="User name" [typeahead]="users" [typeaheadScrollable]="true"
            typeaheadOptionField="fullName"
            [typeaheadItemTemplate]="userTemplate"
            (typeaheadOnSelect)="onSelect($event)"
            [typeaheadOptionsInScrollableView]="10"
            (input)="getUsersData($event)"
            [(ngModel)]="userName">
        </li>
        <li *ngIf="!this.isRoom()"> 
            <label>Hotel</label>
            <input type="text" placeholder="Hotel name" [typeahead]="hotels" [typeaheadScrollable]="true"
            [typeaheadOptionsInScrollableView]="10"
            (input)="getHotelsData($event)"
            [(ngModel)]="hotelName">
        </li>
        <li *ngIf="!this.isRoom()"> 
            <label>Room</label>
            <input type="text" placeholder="Room number" [typeahead]="rooms" [typeaheadScrollable]="true"
            typeaheadOptionField="roomNumber"
            [typeaheadOptionsInScrollableView]="10"
            (input)="getRoomsData($event)"
            [(ngModel)]="roomNumber">
         </li>
        <li> 
            <label>Start date*:</label>   
            <input type="date" 
                name="startDate" 
                [ngModel]="reservation.startDate | date:'yyyy-MM-dd'" 
                (change)="reservation.startDate = parseDate($event)" 
                #startDate="ngModel" 
                dateValidator 
                [secondDate]="reservation.endDate" 
                dateType="startDate"/>
            <div *ngIf="startDate && !startDate.valid && (startDate.dirty || startDate.touched)">
                <div *ngIf="startDate.errors?.wrongDate">
                    Start Date should be lesser then End Date
                </div>
            </div>
        <li>
            <label>End date*:</label>
            <input type="date" 
                name="endDate" 
                [ngModel]="reservation.endDate | date:'yyyy-MM-dd'" 
                (change)="reservation.endDate = parseDate($event)" 
                #endDate="ngModel" 
                dateValidator 
                [secondDate]="reservation.startDate" 
                dateType="endDate"/>
            <div *ngIf="endDate && !endDate.valid && (endDate.dirty || endDate.touched)">
                <div *ngIf="endDate.errors?.wrongDate">
                    End Date should be greater then Start Date
                </div>
            </div>
        </li>
        <li>
            <label>Arrival time:</label>
            <input type="time" [(ngModel)]="reservation.arrivalTime"/>
        </li>
        <li>
            <label>Departure time:</label>
            <input type="time" [(ngModel)]="reservation.departureTime"/>
        </li>
        <li>
            <ul *ngFor="let service of services, let i = index">
                <li>
                    <label>{{service.name}} : {{service.cost}}</label><input type="checkbox" [(ngModel)]="includedServices[i]">
                </li>
            </ul>
        </li>
        <li>
            <label>Reservation cost: {{computeCost}}</label>
        </li>  
        <li *ngIf="!edit">
            <button [disabled]="startDate.invalid || endDate.invalid" 
                (click)="addReservation()">
                Add reservation
            </button>
            <button (click)="closeEditForm()">Cancel</button>
        </li>
        <li *ngIf="edit">
            <button [disabled]="startDate.invalid || endDate.invalid" 
                (click)="updateReservation()">
                Save Reservation {{reservation.id}}
            </button>
            <button (click)="cancelEdit()">Cancel</button>
        </li>
    </ul>   
</div>
<button class="open-button open-form-button" (click)="openEditForm()" *ngIf="!editFormOn">Add new reservation</button>
<br>
<div class="filter-input">
    <h3>Filter reservations by:</h3>
    <input type="text" placeholder="Hotel" *ngIf="!isRoom()" [(ngModel)]="params.hotelName">
    <input type="text" placeholder="Room number" *ngIf="!isRoom()" [(ngModel)]="params.roomNumber">
    <input type="text" placeholder="User name" *ngIf="isRoom()" [(ngModel)]="params.userName">
    <button class="open-button" (click)="filterReservations()">Find reservations with selected parameters</button>
    <button class="open-button" (click)='clearFilters()'>Clear</button>
</div>
<div class="page-header">
    <h1>Reservations list</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr> 
                <th>Hotel name</th>
                <th>Room number</th>
                <th>User Name</th>       
                <th>Start date</th>
                <th>End date</th>
                <th>Arrival time</th>
                <th>Departure time</th>
                <th>Services</th>
                <th>Cost</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.hotelName}}</td>
                <td>{{reservation.roomNumber}}</td>
                <td>{{reservation.userName}}</td>
                <td>{{reservation.startDate | date}}</td>
                <td>{{reservation.endDate | date}}</td>
                <td>{{reservation.arrivalTime | timeFormatPipe}}</td>
                <td>{{reservation.departureTime | timeFormatPipe}}</td>
                <td>
                    <ul *ngFor="let service of reservation.reservationServices">
                        <li>
                            {{service.name}} - {{service.cost}}$
                        </li>
                    </ul>
                </td>
                <td>{{reservation.cost}}</td>
                <td><button class="open-button" (click)="editMode(reservation.id)">Edit</button></td>
                <td><button class="del-button" (click)="deleteReservation(reservation.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
