<div class="add-form">
    <ul>
        <li>
            <h2>Add new reservation</h2>
        </li>
        <li> 
            <label>User id:</label>   
            <input class="add-input" 
                name="userId" 
                type="text" 
                [(ngModel)]="reservation.userId" 
                #userId="ngModel"
                digitValidator 
                required 
                int="true"/>
            <div *ngIf="!userId.valid && (userId.dirty || userId.touched)">
                <div *ngIf="userId.errors.range">
                    UserId length should be greater then 0
                </div>
                <div *ngIf="userId.errors.nonDigitCharacters">
                    Number should be valid
                </div>
            </div>  
        </li>
        <li> 
            <label>Room id</label> 
            <input class="add-input" 
                name="roomId" 
                type="text" 
                [(ngModel)]="reservation.roomId" 
                #roomId="ngModel" 
                digitValidator 
                required 
                int="true"/>
            <div *ngIf="!roomId.valid && (roomId.dirty || roomId.touched)">
                <div *ngIf="roomId.errors.range">
                    RoomId length should be greater then 0
                </div>
                <div *ngIf="roomId.errors.nonDigitCharacters">
                    Number should be valid
                </div>
            </div>
        </li>
        <li> 
            <label>Start date:</label>   
            <input type="date" 
                name="startDate" 
                [ngModel]="reservation.startDate | date:'yyyy-MM-dd'" 
                (ngModelChange)="reservation.startDate = parseDate($event.target.value)" 
                #startDate="ngModel" 
                dateValidator 
                [secondDate]="reservation.endDate" 
                dateType="startDate"/>
            <div *ngIf="!startDate.valid && (startDate.dirty || startDate.touched)">
                <div *ngIf="startDate.errors.wrongDate">
                    Start Date should be lesser then End Date
                </div>
            </div>
        <li>
            <label>End date:</label>
            <input type="date" 
                name="endDate" 
                [ngModel]="reservation.endDate | date:'yyyy-MM-dd'" 
                (ngModelChange)="reservation.endDate = parseDate($event.target.value)" 
                #endDate="ngModel" 
                dateValidator 
                [secondDate]="reservation.startDate" 
                dateType="endDate"/>
            <div *ngIf="!endDate.valid && (endDate.dirty || endDate.touched)">
                <div *ngIf="endDate.errors.wrongDate">
                    End Date should be greater then Start Date
                </div>
            </div>
        </li>
        <li>
            <label>Arrival time:</label>
            <input type="time" [(ngModel)]="reservation.arrivalTime"/>
        </li>
        <li>
            <label>Departure time:</label>
            <input type="time" [(ngModel)]="reservation.departureTime"/>
        </li>  
        <li> 
            <label>Parking</label>
            <input class="date-pick" type="checkbox" [(ngModel)]="reservation.parking"/>    
        </li> 
        <li> 
            <label>Massage</label>
            <input type="checkbox" [(ngModel)]="reservation.massage"/>     
        </li>  
        <li> 
            <label>Extra Towels</label>
            <input type="checkbox" [(ngModel)]="reservation.extraTowels"/>     
        </li> 
        <li *ngIf="!edit">
            <button [disabled]="userId.invalid || roomId.invalid || startDate.invalid || endDate.invalid" 
                (click)="addReservation()">
                Add reservation
            </button>
        </li>
        <li *ngIf="edit">
            <button [disabled]="userId.invalid || roomId.invalid || startDate.invalid || endDate.invalid" 
                (click)="updateReservation()">
                Save Reservation {{reservation.id}}
            </button>
            <button (click)="cancelEdit()">Cancel</button>
        </li>
    </ul>   
</div>
<div class="page-header">
    <h1>Reservations list</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr> 
                <th>Id</th>
                <th>User Id</th>
                <th>Room Id</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Arrival time</th>
                <th>Departure time</th>
                <th>Parking</th>
                <th>Massage</th>
                <th>Extra towels</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.id}}</td>
                <td>{{reservation.userId}}</td>
                <td>{{reservation.roomId}}</td>
                <td>{{reservation.startDate | date}}</td>
                <td>{{reservation.endDate | date}}</td>
                <td>{{reservation.arrivalTime | timeFormatPipe}}</td>
                <td>{{reservation.departureTime | timeFormatPipe}}</td>
                <td><input type="checkbox" [(ngModel)]="reservation.parking" disabled /></td>
                <td><input type="checkbox" [(ngModel)]="reservation.massage" disabled /></td>
                <td><input type="checkbox" [(ngModel)]="reservation.extraTowels" disabled /></td>
                <td><button class="open-button" (click)="editMode(reservation.id)">Edit</button></td>
                <td><button class="del-button" (click)="deleteReservation(reservation.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
