<div class="add-form" *ngIf="editFormOn">
    <ul>
        <li>
            <h2>Add new User</h2>
        </li>
        <li> 
            <label>Login:</label>   
            <input class="add-input" 
                name="login" 
                type="text" 
                [(ngModel)]="user.login" 
                #login="ngModel" 
                nameValidator 
                len="20"/>
            <div *ngIf="login && !login.valid && (login.dirty || login.touched)">
                <div *ngIf="login.errors?.length">
                    Login length should be greater then zero
                </div>
                <div *ngIf="login.errors?.format">
                    Special characters are not allowed
                </div>
            </div>  
        </li>
        <li> 
            <label>Password</label> 
            <input class="add-input" 
                name="password" 
                type="text" 
                [(ngModel)]="user.password" 
                #password="ngModel" 
                passwordValidator/>
            <div *ngIf="password && !password.valid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.length">
                    Password length should be between 4 and 10 characters length
                </div>
            </div>
        </li>
        <li> 
            <label>Role:</label>   
            <select class="add-select" [(ngModel)]="user.role">
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select> 
        </li>
        <li> 
            <label>Name</label> 
            <input class="add-input" 
                name="name" 
                type="text" 
                [(ngModel)]="user.name" 
                #name="ngModel" 
                nameValidator
                len="20"/>
            <div *ngIf="name && !name.valid && (name.dirty || name.touched)">
                <div *ngIf="name.errors?.length">
                    Name length should be greater then zero
                </div>
                <div *ngIf="name.errors?.format">
                    Special characters are not allowed
                </div>
            </div>
        </li>
        <li> 
            <label>Surname</label> 
            <input class="add-input" 
                name="surname" 
                type="text" 
                [(ngModel)]="user.surname" 
                #surname="ngModel" 
                nameValidator
                len="20"/>
            <div *ngIf="surname && !surname.valid && (surname.dirty || surname.touched)">
                <div *ngIf="surname.errors?.length">
                    Surname length should be greater then zero
                </div>
                <div *ngIf="surname.errors?.format">
                    Special characters are not allowed
                </div>
            </div>
        </li>
        <li *ngIf="!edit">
            <button [disabled]="login.invalid || password.invalid" 
                (click)="addUser()">
                Add user
            </button>
            <button (click)="closeEditForm()">Cancel</button>
        </li>
        <li *ngIf="edit">
            <button [disabled]="login.invalid || password.invalid" 
                (click)="updateUser()">
                Save User {{user.id}}
            </button>
            <button (click)="cancelEdit()">Cancel</button>
        </li>
    </ul>   
</div>
<button class="open-button open-form-button" (click)="openEditForm()" *ngIf="!editFormOn">Add new user</button>
<div class="page-header">
    <h1>Users list</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr> 
                <th>Id</th>
                <th>Login</th>
                <th>Role</th>
                <th>Reservations</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.login}}</td>
                <td>{{user.role}}</td>
                <td><button class="open-button" (click)="openReservations(user.id)">Reservations</button></td>
                <td><button class="open-button" (click)="editMode(user.id)">Edit</button></td>
                <td><button class="del-button" (click)="deleteUser(user.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
