<div class="authentication-container">
	<h3 *ngIf="authService.userLoggedIn">You are logged in. Click "Logout" to enter as another user</h3> 
	<div *ngIf="!authService.userLoggedIn" >
		<br>
		<h3>Please, enter your login and password</h3>
		<br>
		<div>
			<div class="spacer">
				<label for="login">Login</label>
				<input type="text" placeholder="Login" [(ngModel)]="login" class="form-control">
			</div>
			<div class="spacer">
				<label for="password">Password</label>
				<input type="password" placeholder="Password" [(ngModel)]="password" class="form-control"/>
			</div>
			<br>
			<div class="spacer">
				<button type="submit" class="open-button" (click)="loginUser()">Login</button>
			</div>
			<h3>Or, you can register new account:</h3>
			<div class="spacer">
				<label for="Login">Login</label>
				<input type="text" placeholder="Login" [(ngModel)]="registerLogin" class="form-control">
			</div>
			<div class="spacer">
				<label for="password">Password</label>
				<input type="password" placeholder="Password" name="pass" #pass="ngModel" [(ngModel)]="registerPassword" class="form-control" required passwordValidator/>
				<div *ngIf="pass && !pass.valid && (pass.dirty || pass.touched)">
					<div *ngIf="pass.errors?.length">
							Password length should be between 4 and 10 characters length
					</div>
					<br>
			</div>
			</div>
			<div class="spacer">
				<label for="repeatPassword">Repeat Password</label>
				<input type="password" placeholder="Repeat password" [(ngModel)]="registerPasswordRepeat" class="form-control"/>
			</div>
			<div class="spacer">
				<label for="Name">Name</label>
				<input type="text" placeholder="Name" [(ngModel)]="registerName" class="form-control">
			</div>
			<div class="spacer">
				<label for="Surname">Surname</label>
				<input type="text" placeholder="Surname" [(ngModel)]="registerSurname" class="form-control">
			</div>
			<br>
			<div class="spacer">
				<button type="submit" *ngIf="checkAllFields()" class="open-button" (click)="registerUser()">Register</button>
			</div>
		</div>
	</div>
</div>
