<div class="hotels-container">
	<h1>Welcome to the NeBooking.com! Here are the hotels you might be interested in:</h1>
	<h3>Select date range:</h3>
	<div class="hotels-input">		
		<div>
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose start date</mat-label>
                    <input matInput [min]="startMinDate" [matDatepicker]="firstpicker" [(ngModel)]="params.checkIn" name="first">
                    <mat-datepicker-toggle matSuffix [for]="firstpicker"></mat-datepicker-toggle>
                    <mat-datepicker #firstpicker></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose end date</mat-label>
                    <input matInput [min]="endMinDate" [matDatepicker]="secondpicker" [(ngModel)]="params.checkOut" name="second">
                    <mat-datepicker-toggle matSuffix [for]="secondpicker"></mat-datepicker-toggle>
                    <mat-datepicker #secondpicker></mat-datepicker>
                </mat-form-field>                  
                <br>
                <br>
                <h3>Select your destination point: </h3>   
                <mat-form-field class="example-full-width">
                    <mat-label>Select where u wanna go</mat-label>
                    <input matInput
                        aria-label="SearchResult"
                        [(ngModel)]="searchString"
                        [matAutocomplete]="auto"
                        (input)="getSearchData($event)"
                        [formControl]="searchCtrl">
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let result of filteredSearch | async" [value]="result.viewField" (click)="onSelect(result)">
                        <span>{{result.viewField}}</span> |
                        <small>:{{result.type}}</small>
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <mat-form-field class="example-full-width">
                <mat-label>Number of guests</mat-label>
			    <input matInput type="text" placeholder="Number of residents" [(ngModel)]="params.numberOfResidents">
                <button mat-button *ngIf="params.numberOfResidents" matSuffix mat-icon-button aria-label="Clear" (click)="params.numberOfResidents=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <br>
			<button [disabled]="!checkParams()" (click)="filterHotels()">Find!</button>
            <br>
            <br>
			<button (click)="clearFilter()">Clear</button>
		</div>
		<br>
		<div *ngIf="hotels.length === 0">
			<h2>No hotels found!</h2>
		</div>
	</div>	  
	<div class="items-list">
		<div class="item-container" *ngFor="let hotel of hotels">
			<div class='item' (click)="openDetailed(hotel.id)">
				<div class="blur" [ngStyle]="{'background-image':'url(' + hotel.image + ')'}"></div>
				<div class="header" >
					<h1>{{hotel.name}}</h1>
					<h2>{{hotel.country}}, {{hotel.city}}</h2>	
				</div>	
				<div class="blur"></div>
				<div class="detail">
					<p>Has {{hotel.roomCount}} free rooms</p>
				</div>	
			</div>
		</div>		
	</div>
</div>