<div class="hotels-container">
	<h1>Welcome to the NeBooking.com! Here are the hotels you might be interested in:</h1>
	<h3>Select date range:</h3>
	<div class="hotels-input">
		<input type="text" placeholder="Check-in" [(ngModel)]="params.checkIn" bsDatepicker [minDate]="minDate">
		<input type="text" placeholder="Check-out" [(ngModel)]="params.checkOut" bsDatepicker [minDate]="minDate">
		<br>
		<br>
		<div>
			<input type="text" 
				placeholder="Country" 
				[(ngModel)]="params.country" 
				[typeahead]="countries" 
				[typeaheadScrollable]="true" 
				[typeaheadOptionsInScrollableView]="10">
			<input type="text" 
				placeholder="City" 
				[(ngModel)]="params.city"
				[typeahead]="cities"
				[typeaheadScrollable]="true"
				[typeaheadOptionsInScrollableView]="10">
			<input type="text" placeholder="Number of residents" [(ngModel)]="params.numberOfResidents">
			<button (click)="clearFilter()">Clear</button>
			<br>
			<br>
			<button [disabled]="!checkParams()" (click)="filterHotels()">Find hotels with selected parameters</button>
		</div>
		<br>
		<div *ngIf="hotels.length === 0">
			<h2>No hotels found!</h2>
		</div>
	</div>	  
	<div class="items-list">
		<div class="item-container" *ngFor="let hotel of hotels">
			<div class='item' (click)="openDetailed(hotel.id)">
				<div class="blur" [ngStyle]="{'background-image':'url(' + hotel.image + ')'}"></div>
				<div class="header" >
					<h1>{{hotel.name}}</h1>
					<h2>{{hotel.country}}, {{hotel.city}}</h2>	
				</div>	
				<div class="blur"></div>
				<div class="detail">
					<p>Has {{hotel.rooms.length}} free rooms</p>
				</div>	
			</div>
		</div>		
	</div>
</div>