<div class="hotels-container">
	<h1>Welcome to the NeBooking.com! Here are the hotels you might be interested in:</h1>
	<div class="items-list">
		<div class="item-container" *ngFor="let hotel of hotels">
			<div class='item' (click)="openDetailed(hotel.id)">
				<div class="blur" [ngStyle]="{'background-image':'url(' + hotel.image + ')'}"></div>
				<div class="header" >
					<h1>{{hotel.name}}</h1>
					<h2>{{hotel.country}}, {{hotel.city}}</h2>	
				</div>	
				<div class="blur"></div>
				<div class="detail">
					<p>Has {{hotel.rooms.length}} free rooms</p>
				</div>	
			</div>
		</div>		
	</div>
</div>