<div class="add-form">
    <ul>
        <li>
            <h2>Add new hotel</h2>
        </li>
        <li> 
            <label>Name:</label> 
            <input class="add-input" type="text" [(ngModel)]="hotel.name"/>
        </li>
        <li> 
            <label>Country:</label>   
            <input class="add-input" type="text" [(ngModel)]="hotel.country"/>  
        </li>
        <li>
            <label>City:</label>
            <input class="add-input" type="text" [(ngModel)]="hotel.city"/>
        </li>
        <li> 
            <label>Address:</label>
            <input class="add-input" type="text" [(ngModel)]="hotel.address"/>   
        </li> 
        <li> 
            <label>Parking</label>
            <input type="checkbox" [(ngModel)]="hotel.parking"/>    
        </li> 
        <li> 
            <label>Massage</label>
            <input type="checkbox" [(ngModel)]="hotel.massage"/>     
        </li>  
        <li> 
            <label>Extra Towels</label>
            <input type="checkbox" [(ngModel)]="hotel.extraTowels"/>     
        </li>
        <li> 
            <label>Image</label>
            <input type="file" accept="image/x-png,image/jpeg" (change)="onSelectFile($event)" #imageUploader/>
            <img [src]="hotel.image" height="200">      
        </li>
         
        <li>
            <button class="add-button" (click)="addHotel()">Add Hotel</button>
        </li>
    </ul>   
</div>
<div class="page-header">
    <h1>Hotels list</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Parking</th>
                <th>Massage</th>
                <th>ExtraTowels</th>
                <th>Rooms</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hotel of hotels" >
                <td><img [src]="imagesUrl + hotel.image" height="100"></td>
                <td>{{hotel.id}}</td>
                <td>{{hotel.name}}</td>
                <td>{{hotel.country}}</td>
                <td>{{hotel.city}}</td>
                <td>{{hotel.address}}</td>
                <td><input type="checkbox" [(ngModel)]="hotel.parking" disabled/></td>
                <td><input type="checkbox" [(ngModel)]="hotel.massage" disabled/></td>
                <td><input type="checkbox" [(ngModel)]="hotel.extraTowels" disabled/></td>
                <td><button class="open-button" (click)="openRooms(hotel.id)">Rooms</button></td>
                <td><button class="del-button" (click)="deleteHotel(hotel.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
