<div class="add-form" *ngIf="editFormOn">
    <ul>
        <li>
            <h2>Add new hotel</h2>
        </li>
        <li> 
            <label>Name:*</label> 
            <input class="add-input" 
                name="name" 
                type="text" 
                [(ngModel)]="hotel.name" 
                #name="ngModel" 
                required 
                nameValidator 
                len="50"/>
            <div *ngIf="!name.valid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.length">
                    Name length should be greater then 0 and lesser than {{name.errors.maxLength}}
                </div>
                <div *ngIf="name.errors.format">
                    Special characters are not allowed
                </div>
            </div>
        </li>
        <li> 
            <label>Country:*</label>   
            <input class="add-input" 
                name="country" 
                type="text" 
                [(ngModel)]="hotel.country" 
                #country="ngModel" 
                required 
                locationValidator 
                len="20"/>
            <div *ngIf="!country.valid && (country.dirty || country.touched)">
                <div *ngIf="country.errors.length">
                    Country name length should be greater then 0 and lesser than {{country.errors.maxLength}}
                </div>
                <div *ngIf="country.errors.format">
                    Country name should only contain letters and dashes 
                </div>
            </div>  
        </li>
        <li>
            <label>City:*</label>
            <input class="add-input" 
                name="city" 
                type="text" 
                [(ngModel)]="hotel.city" 
                #city="ngModel" 
                required 
                locationValidator 
                len="20"/>
            <div *ngIf="!city.valid && (city.dirty || city.touched)">
                <div *ngIf="city.errors.length">
                    City name length should be greater then 0 and lesser than {{city.errors.maxLength}}
                </div>
                <div *ngIf="city.errors.format">
                    City name should only contain letters and dashes
                </div>
            </div> 
        </li>
        <li> 
            <label>Address:*</label>
            <input class="add-input" 
                name="address" 
                type="text" 
                [(ngModel)]="hotel.address" 
                #address="ngModel" 
                required 
                maxlength="50"
                minlength="1"/>
            <div *ngIf="!address.valid && (address.dirty || address.touched)">
                <div *ngIf="address.invalid">
                    Address length should be greater then 0 and lesser than {{address.errors.maxLength}}
                </div>
            </div>   
        </li>
        <li>
            <label>Services:</label>
            <ul *ngFor="let service of hotel.services, let i = index">
                <li>
                    <label>Service name:</label>
                    <input class="service-input" [(ngModel)]="service.name">
                    <br>
                    <label>Service cost per day, $: </label>
                    <input class="service-input" [(ngModel)]="service.cost">
                    <button class="del-button" (click)="removeService(i)">Remove</button>
                </li>             
            </ul>
            <button (click)="addService()">Add service</button>
        </li> 
        <li> 
            <label>Image</label>
            <input type="file" accept="image/x-png,image/jpeg" (change)="onSelectFile($event)" #imageUploader/>
            <img [ngClass]="imageToShow ? 'opened-image' : 'closed-image'" [src]="imageToShow">      
        </li>        
        <li *ngIf="!edit">
            <button [disabled]="name.invalid || country.invalid || city.invalid || address.invalid" 
                (click)="addHotel()">
                Add Hotel
            </button>
            <button (click)="closeEditForm()">Cancel</button>
        </li>
        <li *ngIf="edit">
            <button [disabled]="name.invalid || country.invalid || city.invalid || address.invalid" 
                (click)="updateHotel()">
                Save Hotel {{hotel.id}}
            </button>
            <button (click)="cancelEdit()">Cancel</button>
        </li>      
    </ul>   
</div>
<button class="open-button open-form-button" (click)="openEditForm()" *ngIf="!editFormOn">Add new hotel</button>
<br>
<div class="filter-input">
    <h3>Filter hotels by:</h3>
    <label>Country</label>
    <input type="text" placeholder="Country" [(ngModel)]="params.country">
    <label>City</label>
    <input type="text" placeholder="City" [(ngModel)]="params.city">
    <button class="open-button" (click)="filterHotels()">Find hotels with selected parameters</button>
    <button class="open-button" (click)='clearFilters()'>Clear</button>
</div>
<div class="page-header">
    <h1>Hotels list</h1>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Services</th>
                <th>Rooms</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hotel of hotels" >
                <td><img [src]="hotel.image" height="100"></td>
                <td>{{hotel.name}}</td>
                <td>{{hotel.country}}</td>
                <td>{{hotel.city}}</td>
                <td>{{hotel.address}}</td>
                <td>
                    <ul *ngFor="let service of hotel.services">
                        <li>
                            {{service.name}} - {{service.cost}}$
                        </li>
                    </ul>
                </td>
                <td><button class="open-button" (click)="openRooms(hotel.id)">Rooms</button></td>
                <td><button class="open-button" (click)="editMode(hotel.id)">Edit</button></td>
                <td><button class="del-button" (click)="deleteHotel(hotel.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>