<header>
    <div class="header-text">
        <h1 class="beginning">Ne</h1>
        <h1 class="ending">Booking.com</h1>    
    </div>
    <div class="header-links">
        <div class="hotels-buttons">
            <button [ngClass]= "{ 'hotels-button': !isHotels, 'hotels-button-active': isHotels}" (click)="openHotels()">Hotels</button>
            <button *ngIf="!authService.userLoggedIn" (click)="openAuth()" >Sign in</button>
        </div>
        <div class="dropdown" *ngIf="authService.userLoggedIn">
            <button class="dropbtn" (click)="toggleMenu()">{{authService.getName}}</button>
            <div class="dropdown-content" *ngIf="toggle">
                <p (click)="openReservations()">Show reservations</p>
                <p (click)="logout()">Logout</p>
            </div>
        </div>    
    </div> 
</header>
<router-outlet></router-outlet>